<div class="page-container" >
    <h5>My Dashboards</h5>
    <div class="my-dashboards-cards-home-container" *ngIf="dashboards && dashboards.length > 0; else wireframe">

            <!-- <div class="dash-container"> -->
                <mat-card *ngFor="let dashboard of dashboards" class="hoverable-card">
                    <mat-card-header class="dashboard-header">
                        <div mat-card-avatar class="dashboard-picture" [style.background-image]="'url(' + dashboard.picture +')'"></div>
                        <mat-card-title class="title">{{ dashboard.name | slice:0:20 }}</mat-card-title>
                        <!-- <mat-card-subtitle>{{ dashboard.nd_type }}</mat-card-subtitle> -->
                        
                        <mat-icon [matMenuTriggerFor]="mainMenu" class="delete-icon" color="primary">more_horiz</mat-icon>
                        
                        <mat-menu #mainMenu="matMenu">
                            <a mat-menu-item (click)="deleteDashboard(dashboard)">Delete</a>
                        </mat-menu>
                            
                    </mat-card-header>
                    <div class="dashboard-image-container" routerLink="../dashboards/{{dashboard.id}}/{{dashboard.name.split('/').join(' ')}}">
                        <div class="dashboard-overlay"></div>
                        <img mat-card-image class="dashboard-cover" [src]="dashboard.image" alt="{{ dashboard.name }} cover">
                    </div>
                    <!-- <mat-card-content>
                        <p>
                            {{dashboard.description  | slice:0:100 }}
                        </p>
                    </mat-card-content> -->
                    <mat-card-actions>
                        <div class="team-members">
                            <img class="member-image" src="https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=966383853450476&height=200&width=200&ext=1548599352&hash=AeQth9AXcC002sdi" alt="">
                            <img class="member-image" src="https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=966383853450476&height=200&width=200&ext=1548599352&hash=AeQth9AXcC002sdi" alt="">
                            <img class="member-image" src="https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=966383853450476&height=200&width=200&ext=1548599352&hash=AeQth9AXcC002sdi" alt="">
                            
                            <span class="team-number">
                                +2
                            </span>
                        </div>

                    <div>

                        <button mat-flat-button routerLink="../dashboards/{{dashboard.id}}/{{dashboard.name.split('/').join(' ')}}" style="float:right;background-color: #ececec;
                        color: #4b85e6;">Explore</button>
                        <button mat-button class="report-button" color="primary" (click)="showReports(dashboard.id, dashboard.name)"> 
                            Reports
                                <!-- <mat-icon color="primary">trending_up</mat-icon> -->
                            </button>
                    </div>
                        
                        <!-- <button mat-button color="accent" (click)="deleteDashboard(dashboard)">Delete</button> -->
                    </mat-card-actions>
                </mat-card>
                <mat-card class="wireframe-card-hoverable">
                
                        <mat-card-header class="dashboard-header">
                        </mat-card-header>
                        
                        <div class="home-dashboard-add-wireframe" (click)="addPage()">
                            <div class="plus">
                                +
                            </div>
                            <div>
                                Create a new Dashboard...
                            </div>
                        </div>
    
                        <mat-card-actions class="actions">
                        </mat-card-actions>
        
                </mat-card>
            <!-- </div> -->
    </div>

    <ng-template #wireframe>
        <div *ngIf="!dashboards; else new_dash" class="my-dashboards-cards-home-container">
            <mat-card *ngFor="let wireframe of [1,2,3,4,5,6,7,8,9,10,11,12]" class="wireframe-card">
                
                <mat-card-header class="dashboard-header">
                    <div mat-card-avatar class="dashboard-picture-wireframe"></div>
                    <mat-card-title class="title-wireframe"></mat-card-title>
                    <!-- <mat-card-subtitle class="benchmark-subtitle"></mat-card-subtitle> -->
                </mat-card-header>
                
                <div class="dashboard-image-container-wireframe"></div>

                <mat-card-actions>
                    <div class="team-members">
                        <div *ngFor="let i of [1,2,3]" class="member-image-wireframe"></div>
                    </div>
                    <div class="button-wireframe"></div>
                </mat-card-actions>

            </mat-card>
        </div>
        <ng-template #new_dash>
                <div class="my-dashboards-cards-home-container" >
                        
                    <mat-card class="wireframe-card-hoverable" (click)="addPage()">
    
                        <mat-card-header class="dashboard-header">
                        </mat-card-header>
                        
                        <div class="home-dashboard-add-wireframe" >
                            <div class="plus">
                                +
                            </div>
                            <div>
                                Create your first Dashboard!
                            </div>
                        </div>
    
                        <mat-card-actions class="actions">
                        </mat-card-actions>
        
                    </mat-card>
                </div>
            </ng-template>
    </ng-template>

</div>
