@import '../../assets/sass/global';
@import '../../assets/sass/screens/xs_0';
@import '../../assets/sass/screens/sm_600';
@import '../../assets/sass/screens/md_960';
@import '../../assets/sass/screens/lg_1280';
@import '../../assets/sass/screens/xl_1920';

.gridster{
    background: $dashboard_bg !important;
    overflow-x: unset !important;
    overflow-y: unset !important;
  }
.big-container{
    height: calc(100% - #{$toolbar});
}
.child-container{
    height: 100%;
}
.grid-container {
    background: $dashboard_bg !important;
    width: 100%;
    height: calc(100% - (#{$menu_bar} + #{$toolbar}) );
    > div{
        width: 100%;
        height: 100%;
        padding: 20px 150px !important;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
.grid-container {
    background: $dashboard_bg !important;
    width: 100%;
    height: calc(100vh - 100px);
    > div{
      width: 100%;
      height: 100%;
      padding: 20px 150px !important;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
.header-separator{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 48px;
    padding-right: 50px;
    padding-top: 2px;
    z-index: 999;
    > button{
        margin : 3px 10px 0 0;
      }
  }
.widget-item{
    //box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 7px 7px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}
.benchmark-card {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
}
p-calendar {
    padding: 0 0 10px 10px;
    /deep/ input{
        width: 300px
    }
}

.d-handle {
    font-weight: 500;
    font-size: 1.2rem;
    padding: 10px 0 5px 10px;
    width: 100%;
    height:50px;
    top:0;
    right:0;
    position:absolute;
    z-index:2;
    //background: gray;
    &:hover{
      cursor: grab;
    }
  
  }
  
  .number{
    text-align: center;
    height: 50%;
    padding: 0;
    margin: 0;
    padding-top: 2.5em;
  }
  

.loading-indicator{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
